# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
main/build/
main/dist/

# Other files and folders
.settings/
config.ini
translate.spec

# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.ini
*.spec
*.png
*.ico

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
